.ToDoList {
  background-color: white;
  border-radius: 20px;
  color: black;
  width: 40%;
  height: 85%;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 820px) {
  .ToDoList {
    width: 85%;
    height: 70%;
  }
}
