.list {
  height: 25rem;
  padding: 20px;
  background-color: #729368;
}

fragment {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
  /* border-bottom: 1px solid black; */
}
fragment li {
  border-bottom: 1px solid white;
  list-style: none;
  color: white;
  font-size: 2rem;
  align-self: center;
}
AiFillStar {
  color: yellow;
}

.AddList {
  padding: 20px;
}

.AddList ul {
  padding-left: 0;
}
.Addbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.Deletebtn {
  font-size: 2rem;
  color: red;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
