.input {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 8px;
}

.input input {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}

.input button,
svg {
  padding-top: 2px;
  font-size: 1.2rem;
  align-items: center;
}

.list {
  padding: 20px;
  /* background-color: #729368; */
  background-image: url("https://static.vecteezy.com/system/resources/previews/005/949/897/original/cute-green-pattern-with-white-doodle-line-plants-hearts-love-textiles-for-children-fabric-book-bedroom-baby-digital-paper-scrapbook-seamless-background-vector.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  overflow: auto;
}

fragment {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 15px;
  /* border-bottom: 1px solid black; */
}
fragment li {
  border-bottom: 1px solid black;
  list-style: none;
  color: black;
  font-weight: bolder;
  font-size: 2rem;
  align-self: center;
  flex-grow: 2;
  text-align: start;
}
.star {
  color: yellow;
  font-size: 2rem;
}

.AddList {
  padding: 20px;
  height: 100%;
}

.AddList ul {
  padding-left: 0;
}
.Addbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.Deletebtn {
  font-size: 2rem;
  color: red;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}
