.AddMessage {
  margin-bottom: 30px;
  padding: 20px 20px;
  background-color: #323949;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AddMessage input {
  padding: 10px 20px;
}

.AddMessage Button {
  background-color: #007aff;
}

.AddMessage Button:hover {
  background-color: #312ecb;
}
