.MessageCard {
  padding: 6px 20px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
  background-color: #323949;
}

.MessageCard .ButtonDelete {
  color: white;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  border: none;
}

.MessageCard Button:hover {
  color: red;
  transition: 0.3s;
}

.box {
  display: flex;
  flex-direction: row;
}

.MessageCard__text {
  font-size: 1rem;
}

.MessageCard__info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.62);
}
