.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.592);
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.5s;
  z-index: 5;

  .modal__content {
    background-color: rgba(0, 0, 0, 0.726);
    backdrop-filter: blur(4px);
    padding: 20px;
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0.5s;
  }
  &.active .modal__content {
    height: 85vh;
    width: 85vw;
    opacity: 1;
    border-radius: 10px;
  }
}
