.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.592);
  top: 0;
  left: 0;
  position: fixed;
  transition: all 0.5s;
  z-index: 3;
}

.Modal .modal__content {
  background-color: rgb(29, 29, 29);
  padding: 20px;
  height: 0;
  width: 0;
  opacity: 0;
  transition: all 0.5s;
}

.Modal.active .modal__content {
  height: 80%;
  width: 80%;
  opacity: 1;
  border-radius: 10px;
}
