@import "../../styles/mixins";

.Popular {
  @include flex(flex, flex-start, row, 3px, center);

  overflow-x: scroll;
  height: 35vh;
  padding: 0 0 0 7px;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .Popular {
    height: 35%;
    overflow-y: hidden;
    @include flex(flex, flex-start, row, 3px, center);

    padding: 0px;
  }
}
