@import "../../styles/mixins";
.ListMovie {
  @include flex(flex, center);
  padding-top: 30px;
  width: 100%;
  
  .listTv { 
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 0px;
}


}
.btn {
   @include flex(flex, space-around);
   color: white;

   button {
    background-color: transparent;
    border: none;
    font-weight: bolder;
    font-size: 2.3rem;
    
    align-self: center;
    cursor: pointer;
    span {
      transition: 0.5s;
      color:white;
      svg {
        display: flex;
        align-self: center;
      }
     &:hover {
      color: red;
      transition: 0.5s;
    }
    }
    
   }

   p{
    margin: 0;
    font-weight: bolder;
    font-size: 2rem;
   }
  }

  @media only screen and (max-width: 600px) {
    .ListMovie {
      padding-top: 0px;
      .listTv { 
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0px;
    }

   
  } .btn {
      @include flex(flex, space-between);
   
      button {
       font-size: 1.5rem;
       &:hover {
        color: rgb(255, 255, 255);
      }
      }
   
      p{
       font-size: 1.4rem;
      }
     }

  }
