@import "../../styles/mixins";
.ListMovie {
  @include flex(flex, center);
  padding-top: 30px;
  width: 100%;

  .listTv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 0px;
  }
}
.btn {
  @include flex(flex, space-around, row, 0, stretch, center);
  width: 100%;
  color: white;
  .prev {
    @include flex($display: flex, $flex-direction: row);
    button {
      background-color: transparent;
      border: none;
      font-weight: bolder;
      font-size: 2.3rem;
      cursor: pointer;

      span {
        transition: 0.5s;
        color: white;
        svg {
          display: flex;
          align-self: center;
        }
        &:hover {
          color: red;
          transition: 0.5s;
        }
      }
    }
  }
  //   .info {
  //     background-color: red;
  //     height: calc(100vh - 86px);
  //     width: 25vw;
  //   }
  p {
    margin: 0;
    font-weight: bolder;
    font-size: 2rem;
  }

  .next {
    @include flex($display: flex, $flex-direction: row);
    button {
      background-color: transparent;
      border: none;
      font-weight: bolder;
      font-size: 2.3rem;
      cursor: pointer;

      span {
        transition: 0.5s;
        color: white;
        svg {
          display: flex;
          align-self: center;
        }
        &:hover {
          color: red;
          transition: 0.5s;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ListMovie {
    padding-top: 0px;
    .listTv {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0px;
    }
  }
  .btn {
    // @include flex(flex, spa, row, 30px);
    flex: 0 0 auto;
    .prev {
      button {
        display: flex;
        flex: 0 0 auto;
        padding: 0px;
        span {
          font-size: 1.7rem;

          &:hover {
            color: white;
          }
        }
      }
    }
    p {
      font-size: 1.3rem;
    }

    .next {
      button {
        padding: 0px;
        display: flex;
        flex: 0 0 auto;
        span {
          font-size: 1.7rem;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
