.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ac7088;
}

.Form__input {
  display: flex;
  justify-content: center;
  align-items: center;
}
