.AddFriends {
  margin-bottom: 40px;
  padding: 5px;
  margin: 0;
}

.AddFriends input {
  padding: 10px 20px;
}

.AddFriendInput {
  background-color: #323949;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px;
}

.AddFriends Button {
  background-color: #007aff;
}

.AddFriends Button:hover {
  background-color: #312ecb;
}
