.MainSection {
  display: flex;
  /* justify-content: center; */
  padding: 10px 40px;
  height: 90vh;
  max-width: 100vw;
}

.MainSection .list {
  width: calc(70% - 30px);
  height: 85vh;
}

.list h2 {
  margin: 0;
  color: white;
  width: fit-content;
}

.topMovie {
  padding: 0 25px;
  width: 30%;
}
