@import "../../styles/mixins";

.MainSection {
  @include flex(flex, center);

  padding: 25px 40px;
  height: calc(100vh - 86px);
  max-width: 100vw;

  .list {
    width: calc(70% - 30px);

    h2 {
      margin: 0;
      color: white;
      width: fit-content;
    }
  }

  .topMovie {
    padding: 0 25px;
    align-self: center;
    // width: 30%;

    .text {
      p {
        display: none;
      }

      h3 {
        display: none;
      }
    }
  }
}

.list {
  padding: 0 20px;

  h2 {
    margin: 0;
    color: white;
    width: fit-content;
  }
}

.listTv {
  padding: 0 20px;
h2 {
  margin: 0;
  color: white;
  width: fit-content;
}
}

@media only screen and (max-width: 600px) {
  .MainSection {
    @include flex(flex, center, column);
    padding: 0px 20px;
    height: max-content;

    .list {
      width: 100%;
      padding: 0px;
      h2 {
        font-size: 1rem;
        padding: 2px 0;
      }
    }
    .topMovie {
      padding: 0px;
    }
  }
  .list {
    h2 {
      font-size: 1rem;
      padding: 2px 0;
    }
  }
}

.listTv {
h2 {
  font-size: 1rem;
}
}