@import "../../styles/mixins";

.Footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5886729691876751) 19%,
    rgba(0, 0, 0, 1) 32%
  );
  padding: 25px 0px 10px 0px;
  color: white;

  .contact {
    @include flex(flex, center, row, 20px);

    font-size: 1.5rem;
    
    a {
      color: white;
      transition: 0.5s;
    }

    & a:nth-child(1):hover {
      color: red;
      transition: 0.5s;
    }
    & a:nth-child(2):hover {
      color: yellow;
      transition: 0.5s;
    }

    & a:nth-child(3):hover {
      color: green;
      transition: 0.5s;
    }

    & a:nth-child(4):hover {
      color: blue;
      transition: 0.5s;
    }
  }
  .copyright {
    text-align: center;
    font-size: 0.7rem;
  }
}
