.CategoryList {
  display: flex;
  justify-content: center;
  height: calc(100vh - 72px);
  background-color: transparent;

  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 20px;
    border-radius: 10px;
    width: 90vw;
  }
}
