.main-content {
  color: rgb(24, 24, 24);
  display: flex;
  justify-content: space-around;
}

.App__messages {
  padding: 20px;
  width: 400px;
}

.inputFilter {
  display: flex;
  justify-content: center;
}

input {
  padding: 10px 20px;
}
