ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.5rem;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: white;
}

a:hover {
  transition: 0.5s;
  color: #007aff;
}

.Navbar {
  background-color: #212129;
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #323949;
}

.Navbar Button {
  background-color: #007aff;
}

.Navbar Button:hover {
  background-color: #312ecb;
}

.logo {
  display: flex;
  gap: 5px;
  color: white;
}
