@import "../../styles/mixins";

.MovieEntity {
  @include flex(flex, center);

  color: white;
  text-transform: uppercase;
  height: calc(100vh - 86px);
  padding: 5px;

  .backdrop {
    transition: 0.2s;
    opacity: 0;

    &.activeHero {
      @include position(absolute, 0, auto, auto, 0, 1);

      height: 95%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      opacity: 0.6;
      transition: 0.4s;
    }
  }

  .overlay {
    @include position(absolute, 0, auto, auto, 0, 2);

    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    background: linear-gradient(
      0deg,
      rgba(20, 20, 20, 1) 9%,
      rgba(20, 20, 20, 0.8855917366946778) 31%,
      rgba(0, 0, 0, 0.4009978991596639) 74%
    );
  }

  .info {
    @include flex(flex, space-between, column, 0, flex-end);

    width: 22%;
    padding: 20px;
    z-index: 3;

    .title {
      opacity: 0;
      transition: 0.2s;
      transform: translate(100px, 120px);

      &.activeHero {
        opacity: 1;
        z-index: 3;
        transition: 0.5s;

        p {
          color: rgb(169, 169, 169);
          text-transform: uppercase;
        }

        h1 {
          margin: 2px 0px;
          font-size: 4rem;
          text-shadow: 1px 1px 2px black;
          z-index: 4;
        }
      }
    }

    .bottom {
      opacity: 0;
      transition: 0.2s;

      &.activeHero {
        @include position(relative);

        width: 100%;
        align-self: flex-end;
        font-weight: bold;
        font-size: 0.9rem;
        z-index: 3;
        transition: 0.5s;
        opacity: 1;

        p:nth-child(1),
        p:nth-child(3) {
          color: rgb(169, 169, 169);
        }

        span {
          color: yellow;
        }
        ul {
          padding: 0;
          list-style-type: none;
        }
      }
    }
  }
  .poster {
    opacity: 0;
    transition: 0.2s;

    &.activeHero {
      height: calc(100vh - 86px);
      width: min-content;
      object-fit: cover;
      z-index: 2;
      opacity: 1;
      transition: 0.5s;
    }
  }

  .book {
    @include flex(flex, flex-start, column-reverse);
    width: 20%;
    z-index: 3;

    .btn {
      color: black;
      max-width: 200px;
      padding: 20px 30px;
      border: 0;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
      transform: translate(-100px, -120px);
      transition: all 0.35s;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
.Error {
  @include flex(flex, center, row, 0, center);

  color: white;
  text-transform: uppercase;
  height: calc(100vh - 70px);
  z-index: 3;
}

@media only screen and (max-width: 600px) {
  .MovieEntity {
    @include flex(flex, center, column);
    // display: inline;

    .info {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0px;

      .title {
        transform: none;

        &.activeHero {
          opacity: 1;
          z-index: 3;
          transition: 0.5s;

          p {
            display: none;
          }

          h1 {
            font-size: 2rem;
          }
        }
      }

      .bottom {
        opacity: 0;

        &.activeHero {
          display: none;
        }
      }
    }
    .poster {
      &.activeHero {
        align-self: center;
        height: calc(100vh - 86px);
        width: 80vw;
        padding: 2px;
      }
    }

    .book {
      // @include flex(flex, flex-end, column-reverse);
      width: 30%;
      z-index: 3;

      .btn {
        @include position(relative, -70px, 200px, 0, 130px);
        border-radius: 5px;
        max-width: 200px;
        padding: 10px 15px;
        transform: none;
      }
    }

    .modalbox {
      .backdrop {
        background-size: contain;
        filter: blur(0px);
        opacity: 1;
      }

      .overlay {
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 40%,
          rgba(0, 0, 0, 0.8855917366946778) 70%,
          rgba(0, 0, 0, 0.4009978991596639) 77%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      .button {
        font-size: 1.4rem;
        padding-top: 15px;
      }
      .box {
        @include flex(flex, center, column, 20px);
        height: 75vh;

        .box2 {
          img {
            display: none;
          }

          .vote {
            @include position(absolute, 170px, 0, 0, 310px);
            p {
              font-size: 1rem;
            }

            span {
              align-self: auto;
              font-size: 1.3rem;
            }
          }
        }

        .info2 {
          font-size: 1.4rem;

          .modalTitle {
            font-size: 85%;
          }

          p {
            margin: 2px;
          }

          .trailer {
            height: 80%;

            iframe {
              width: 90vw;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }
  .Error {
    padding: 0 20px;
    font-size: 0.6rem;
    text-align: center;
  }
}
