h4 {
  margin: 5px;
}

h6 {
  margin: 5px;
}
.main-footer {
  margin: 0;
  background-color: black;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px rgba(143, 143, 143, 0.493);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main-footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 7px;
}

.main-footer i {
  font-size: 1.5rem;
  color: #ede6db;
  transition: 0.5s;
}

.main-footer i:hover {
  padding: 0;
  color: red;
  transition: 0.5s;
}
