.MainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 25vw;
  height: 85vh;
  align-self: center;
  color: rgb(255, 255, 255);
}

.MainCard--img {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 0px 20px -2px #4f4f4f;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.MainCard__text h3 {
  text-shadow: 1px 1px 5px black;
  font-size: 2rem;
  margin: 0;
  position: relative;
  z-index: 1;
  padding: 5px;
}
.MainCard__text p {
  position: relative;
  font-size: 0.9rem;
  font-weight: bold;
  z-index: 1;
  text-shadow: 1px 1px 5px black;
}
.MainCard__text p::before {
  content: "Average: ";
  opacity: 0.7;
  text-shadow: 1px 1px 5px black;
}

.MainCard__text2 {
  display: flex;
}

.MainCard__text2 span {
  align-self: center;
  color: yellow;
  padding: 0 3px;
}

.cardList {
  height: 100%;
}

.cardList .MainCard {
  width: 100%;
  height: 95%;
  opacity: 0.7;
  transition: all 0.5s;
}

.cardList .MainCard--img {
  position: relative;
  width: 150px;
  height: 75%;
}

.cardList .MainCard:hover {
  opacity: 1;
  z-index: 2;
  transform: scale(1.1);
  transition: all 0.5s;
}

.cardList .MainCard__text h3 {
  display: none;
}

.cardList .MainCard__text p {
  font-size: 0.5rem;
}

.button {
  display: flex;
  justify-content: end;
  font-size: 1.2rem;
  font-weight: bolder;
  color: red;
}

.button p {
  margin: 0;
  transition: 0.5s;
  cursor: pointer;
}

.button p:hover {
  color: rgba(255, 0, 0, 0.527);
  transition: 0.5s;
}

.modal-title {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  text-align: center;
  padding: 5px;
}

.modalbox {
  height: 100%;
}

.box {
  display: flex;
  gap: 20px;
  height: 90%;
}

.box2 img {
  height: 100%;
  border-radius: 5px;
}

.vote {
  display: flex;
  color: white;
  font-weight: bold;
  gap: 2px;
}

.vote p {
  margin: 0;
  font-size: 1.5rem;
}

.vote span {
  align-self: center;
  color: yellow;
  font-size: 1.8rem;
}

.text {
  color: white;
  font-size: 1.9rem;
}

.text p:nth-child(3) {
  text-align: end;
  font-size: 1.3rem;
}

.description {
  opacity: 0;
  transition: 0.1s;
  font-size: 85%;
}

.description.active {
  opacity: 1;
  transition: 0.4s;
}
