@import "../../styles/mixins";

.MainCard {
  color: white;
  transition: 0.5s;
  .modalbox {
    height: 100%;

    .backdrop {
      @include position(absolute, 0, auto, auto, 0, -3);

      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      filter: blur(1px);
      opacity: 0.6;
    }

    .overlay {
      @include position(absolute, 0, auto, auto, 0, -2);

      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 46%,
        rgba(0, 0, 0, 0.804359243697479) 64%,
        rgba(0, 0, 0, 0.2861519607843137) 100%
      );
    }

    .button {
      @include flex(flex, flex-end);

      font-size: 1.2rem;
      font-weight: bolder;
      color: red;
      z-index: 2;
      p {
        margin: 0;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          color: rgba(255, 0, 0, 0.527);
          transition: 0.5s;
        }
      }
    }

    .box {
      @include flex(flex, flex-start, row, 20px);
      height: 85vh;
      z-index: 2;

      .box2 {
        img {
          height: 90%;
          border-radius: 5px;
        }
      }

      .vote {
        @include flex(flex, flex-start, row, 2px);

        color: white;
        font-weight: bold;

        p {
          margin: 0;
          font-size: 1.5rem;
        }

        span {
          align-self: center;
          color: yellow;
          font-size: 1.8rem;
        }
      }
      .text2 {
        color: white;
        font-size: 1.9rem;
        transition: 0.1s;
        opacity: 0;
        width: 100%;
        height: 40vh;
        // display: flex;

        &.active {
          opacity: 1;
          transition: 0.4s;
        }

        .modalTitle {
          font-size: 100%;
          color: white;
          margin: 0;
          text-align: center;
          padding: 5px;
        }

        p:nth-child(3) {
          text-align: end;
          font-size: 45%;
        }

        .trailer {
          @include flex(flex, center);
          height: 100%;

          iframe {
            height: 100%;
            width: 80%;
            border-radius: 10px;
          }
        }

        .description {
          font-size: 50%;
          text-transform: none;
        }
      }
    }
  }
}

.popular {
  height: 100vh;
  @include flex(flex, center, column, 0, stretch, center);
  text-shadow: 1px 1px 2px black;

  position: relative;
  color: rgb(255, 255, 255);
  img {
    width: 25vw;
    height: 85vh;
    box-shadow: 1px 0px 20px -2px #4f4f4f;
  }
  .text {
    display: none;
  }
}

.topRated {
  &:hover {
    opacity: 1;
    z-index: 2;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  img {
    // width: 50%;
    max-width: 12vw;
    max-height: 27vh;
    box-shadow: 1px 0px 20px -2px #4f4f4f;
  }

  .text {
    h3 {
      display: none;
    }
    p {
      margin: 0;
      font-size: 1rem;
    }
  }
  .text2 {
    display: flex;

    span {
      align-self: center;
      color: yellow;
      padding: 0 3px;
    }
  }
}

.upComing {
  &:hover {
    opacity: 1;
    z-index: 2;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  img {
    max-width: 12vw;
    max-height: 27vh;
    box-shadow: 1px 0px 20px -2px #4f4f4f;
  }

  .text {
    h3 {
      display: none;
    }
    p {
      margin: 0;
      font-size: 1rem;
    }
  }
  .text2 {
    display: flex;

    span {
      align-self: center;
      color: yellow;
      padding: 0 3px;
    }
  }
}

.popularList {
  overflow: hidden;
  &:hover {
    overflow: hidden;
    opacity: 1;
    z-index: 2;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  img {
    max-width: 19vw;
    max-height: 30vh;
  }

  .text {
    h3 {
      display: none;
    }
    p {
      display: none;
    }
  }
  .text2 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .MainCard {
    .modalbox {
      height: 100%;
      .backdrop {
        background-size: contain;
        filter: blur(0px);
        opacity: 1;
      }

      .overlay {
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 69%,
          rgba(0, 0, 0, 0.9859943977591037) 73%,
          rgba(0, 0, 0, 0.4009978991596639) 89%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      .button {
        font-size: 1.4rem;
        padding-top: 15px;
      }

      .box {
        @include flex(flex, center, column, 20px);
        height: 75vh;

        .box2 {
          img {
            display: none;
          }

          .vote {
            @include position(absolute, 170px, 0, 0, 310px);
            p {
              font-size: 1rem;
            }

            span {
              align-self: auto;
              font-size: 1.3rem;
            }
          }
        }

        .text2 {
          font-size: 1.4rem;

          .modalTitle {
            font-size: 85%;
          }

          p {
            margin: 2px;
          }

          .trailer {
            height: 80%;

            iframe {
              width: 90vw;
              border-radius: 20px;
            }
          }
        }
      }
    }
  }

  .popular {
    height: 20vh;
    width: 90vw;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 55vh;
      position: relative;
      top: 65px;
    }
    .text {
      @include position(absolute, calc(133px - 95px), 0, 0, 0);
      @include flex(flex, center, row, 0, auto, center);
      text-shadow: #4f4f4f;

      p,
      span {
        display: none;
      }
    }
  }

  .topRated {
    overflow: hidden;
    img {
      max-width: 19vw;
      box-shadow: none;
    }

    .text {
      h3 {
        display: none;
      }
      p {
        display: none;
      }
    }
    .text2 {
      display: none;
    }
  }

  .upComing {
    overflow: hidden;
    img {
      max-width: 19vw;
      box-shadow: none;
    }

    .text {
      h3 {
        display: none;
      }
      p {
        display: none;
      }
    }
    .text2 {
      display: none;
    }
  }

  .pupularList {
    img {
      max-width: 12vw;
      max-height: 27vh;
    }
  }
}
