.FriendCard {
  padding: 5px;
  width: 300px;
  box-sizing: content-box;
  margin: 0px;
}

.FriendCard .ButtonDelete {
  color: white;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  border: none;
}

.FriendCard .ButtonDelete:hover {
  color: red;
  transition: 0.3s;
}
.box {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #323949;
  color: white;
  border-radius: 10px;
}

.FriendCard img {
  width: 25%;
  border-radius: 30px;
}
